{% extends 'base.html.twig' %}
{% form_theme form 'forms/semantic-ui-form-theme.html.twig' %}


{% block body_id 'dashboard' %}

{% block header %}
    &nbsp;

    <div class="ui two column stackable grid">

        {% if(app.user.formCompleted==1) %}
            <div class="middle aligned column">
                <a href="preview.php" class="ui right floated basic button">Have you filled the form already? Click to
                    preview and print.</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block main %}

    <div class="step1">


        <p>Letter</p>
    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // Wrap each tr and td's content within a div
            // (todo: add logic so we only do this when printing)
            $("table tbody th, table tbody td").wrapInner("<div></div>");
        })
    </script>
    <script language="javascript" type="text/javascript">
        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>



{% endblock %}







