{% extends "printLayout.html" %}
{% load staticfiles %}
{% load humanize %}

{% load account_tags %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/sweetalert/sweetalert.min.css' %}"> <!-- original -->

    <style type="text/css">

        html, body, #page3, #page1, #page2 {
            float: none;
            background: none;
            font-size: 16px
        }

        fieldset {
            background: none;
        }

        .uppercase {
            font-weight: bold;
            text-align: right;
        }

        @media print {
            table {
                float: none !important;
            }

            div {
                float: none !important;
            }

            #page1 {
                page-break-inside: avoid;
                page-break-before: always;
            }

            #page2 {
                page-break-inside: avoid;
                page-break-before: always;
            }

            #page3 {
                page-break-inside: avoid;
                page-break-before: always;
            }
        }

        @page {
            size: A4;
        }

        table, figure {
            page-break-inside: avoid;
        }

        fieldset legend {
            page-break-before: always;
        }

        h1, h2, h3, h4, h5 {
            page-break-after: avoid;
        }

        table {
            background: none;
        }
    </style>

{% endblock %}

{% block contents %}

    <a onclick="javascript:printDiv('print')" class="btn btn-outline-info ks-light">Click to print letter</a>
    <div id="print">

        <div id="page1">
        <img src="{% static 'assets/img/header.jpg' %}" style="width:1086px;height: auto"
             class="ui fluid image"/>


        <br/>
        <div class="content" id="regular">
            <div class="watermark">
                <div id="photo" style="margin-left: 970px">
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                    <img class=''
                         src="http://www.ttuportal.com/admissions/public/albums/thumbnails/{{ applicant.application_number }}.jpg"
                         style="width:106px;height: auto ">
                </div>


                <div style="margin-left: 0px">
                    <p style="text-transform: capitalize">Dear <span
                            style=""> {{ applicant.title | capfirst }}. {{ applicant.name |capfirst }}</span></p>
                </div>

                <div style="margin-left: 2px;text-align: justify">

                    <center><b>OFFER OF ADMISSION
                        - {{ applicant.programme_admitted.department.faculty_id.faculty_name | upper }}
                        ({{ applicant.section_admitted|upper }}) - ADMISSION
                        N<u>O </u>: {{ applicant.application_number }} </b></center>
                    <hr>
                    <div id="letter">
                        <p>We write on behalf of the Academic Board to offer you admission to Takoradi Technical
                            University to pursue a programme of study leading

                            Higher National Diploma in

                            ({{ applicant.programme_admitted.name }}).
                            The
                            duration of the programme is {{ applicant.programme_admitted.duration }} academic years.</p>

                        <p>Please observe the following:</p>

                        <p>1. Your admission is for <b>the 2018/2019 Academic Year.</b> If you fail to enroll, or if

                            you withdraw from the programme without prior approval from the University,
                            you shall forfeit the admission automatically.
                        </p>
                        <p>2. <b>The 2018/2019 Academic Year</b> is scheduled to begin on Monday 13th August,
                            2018.
                            You are therefore expected to report for medical examinations and registration from
                            <b>Monday 13th August, 2018</b> to <b>Friday 24th August, 2018.</b>
                            You are also mandated to participate in an orientation programme which shall run from

                            <b>Monday 27th August, 2018</b> to <b>Friday 31st August, 2018.</b>
                        </p>
                        <p>3.
                            You are required to make a <b>PAYMENT</b> of GH¢{{ applicant.admission_fees }} at any
                            branch of
                            <b>Zenith Bank</b> into Account
                            Number {{ applicant.programme_admitted.department.faculty_id.bank_id.bank_account_number }}
                            . If you do not indicate acceptance of
                            this
                            admission by paying the fees before <b>Friday 1st June, 2018,</b> your admission will

                            be offered to another applicant on the waiting list. You are to make a photocopy of the

                            pay-in-slip for keeps and present the original to the University’s Directorate of
                            Finance on your arrival on campus. Indicate your admission number and
                            programme of study on the pay-in-slip. Any Applicant who fails to <b>PAY</b> the
                            fees
                            forfeits his/her admission.
                            <span> <b>Note: Fee payment is for an Academic Year, and it is non-refundable.</b></span>
                        </p>


                        <p>4.
                            You shall be on probation for the full duration of your programme, and you may
                            be dismissed at any time for unsatisfactory academic work or misconduct.
                            You shall be required to adhere to <b>ALL</b> the rules and regulations of the
                            University as
                            contained in the University Statutes, the Examinations Policy, the Ethics Policy
                            and the Students’ Handbook.
                        </p>


                        <p>5.
                            You are also to note that your admission is subject to your being declared
                            medically fit to pursue the programme of study in this University. <b>You are,
                                therefore, required to undergo medical examinations at the University Health
                                Centre before registration. You shall be withdrawn from the University if you
                                fail to undergo the medical examinations.</b>
                        </p>

                        <p>6.
                            Applicants shall also be held personally responsible for any false statement(s) or
                            omission(s) made in their applications.
                        </p>

                        <p>7.
                            The University does not give financial assistance to students. It is therefore the
                            responsibility of students to arrange for their own sponsorship and maintenance
                            during their period of study.
                        </p>

                        <p>8.
                            You are to note that the University is a secular institution; it is therefore not
                            bound by observance of any religious or sectarian practices. As much as possible,
                            the University lectures and/or examinations would be scheduled to take place
                            within normal working days, but, where it is not feasible, lectures and
                            examinations would be held on other days.
                        </p>

                        <p>9.
                            As a policy of the University, all students shall be required to register under the
                            National Health Insurance Scheme (NHIS) on their own to enable them access
                            medical care whilst on campus.
                        </p>

                        {% if applicant.hall_accomodation == 1 %}
                            <p>10.
                                You have been given Hall Accommodation at {{ applicant.hall_admitted.hall_name }} You
                                will be required to
                                make a payment of GH¢…….. into any branch of …….. with Account Number
                                ……….. You shall report to your assigned hall of residence with the original copy
                                of the pay-in-slip. Note that hall fees paid are not refundable.
                            </p>
                            <p>11.
                                Any applicant who falsifies result(s) shall be withdrawn from the University
                                and shall forfeit his/her fees paid.
                            </p>
                        {% endif %}

                        <p>10.
                            Any applicant who falsifies result(s) shall be withdrawn from the University
                            and shall forfeit his/her fees paid.
                        </p>

                        <p>
                            Accept my congratulations on your admission to the University, Please.


                        </p>
                        <p>Yours faithfully</p>
                        <p><img src="{% static 'assets/img/signature.png' %}" style="width:90px;height:auto;"/></p>
                        <p>SNR. ASSISTANT REGISTRAR(ADMISSIONS)<br/>For: REGISTRAR</p>

                    </div>


                </div>
                <div id="foot">
                    <img src="{% static 'assets/img/footer.jpg' %}" style="width:1086px;height: auto"
                         class="image-responsive responsive"/>

                </div>

            </div>
        </div>

        </div>
</div>
{% endblock %}
{% block js %}



{% endblock %}

